[user]
	name = mexposito
	email = moises.exposito-alonso@tuebingen.mpg.de
[credential]
	helper = cache

[alias]
lol = log --graph --decorate --pretty=oneline --abbrev-commit
lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local

[color]
branch = auto
diff = auto
interactive = auto
status = auto
